# Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
ENV/
.venv/
.env/

# 编辑器配置
.idea/
.vscode/
*.swp
*.sublime-*

# 系统文件
.DS_Store
Thumbs.db

# Codex workspace instructions
AGENTS.md

# 测试数据/大文件
build/
install/
results/
*dataset/
*images/
*imgs/
*videos/
3_NPU_Yolov8_LPR_Demo/model/*.bat
3_NPU_Yolov8_LPR_Demo/model/test*
3_NPU_Yolov8_LPR_Demo/*.log
3_NPU_Yolov8_LPR_Demo/**/*.log
3_NPU_Yolov8_LPR_Demo/qt_pcie_lpr_ui/qmake.tar
3_NPU_Yolov8_LPR_Demo/qt_pcie_lpr_ui/qt-everywhere-src-*.tar*
1_PC_Training/datasets/
1_PC_Training/PaddleOCR/
1_PC_Training/LPRNet_Pytorch/data
1_PC_Training/scripts/runs/test_results/val/labels
relate
rknn
2_Model_Conversion_PC_Simulation/ultralytics_yolov8
2_Model_Conversion_PC_Simulation/PPOCR/model/quant_images
3_NPU_Yolov8_LPR_Demo/result
yolo_-lprnet_-pytorch-master
pcie_720p
*_accuracy_analysis/
4_NPU_Yolov8_Traffic_Demo/test/test5.mp4
